{% extends 'admin/admin_base.html' %}
 {% load humanize %} 

{% block content %}
    <div class="container" style="padding-top: 100px"> 
            <div class="row">
                <div class="col-md-12">
                    <h3>Danh sách người dùng</h3><hr>
                    
                    <div class = "row">
                        <div class = "col-12">
                     <form class="form-inline " action="{% url 'adminuserlist' %}"  method="GET">
                          <div class="input-group" style = "margin-top:50px;">
                            <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm người dùng" style = 'border-color: #000000;'/>
                            <div class="input-group-append">
                              <span class="input-group-text bg-transparent text-primary">
                             <button class="btn btn-secondary" type="submit">Tìm kiếm</button> 
                            </div>
                          </div>
                      </form>
                        </div>
                      
                    </div>
                    <div class = "row table-responsive mb-5" style="margin-top: 5px;">
                    <table class="table table-hover ">
                        <thead style="background-color: white; font-size: 17px;  align-content: center">
                            <tr style = 'color:black; text-align: center;'>
                                <th class = "align-middle col-1" scope="col">STT</th>
                                <th class = "align-middle col-2" scope="col">Mã người dùng</th>
                                <th class = "align-middle col-3"  scope="col">Tên Người Dùng</th>
                                <th class = "align-middle col-1"  scope="col">Username</th>
                                <th class = "align-middle col-2"  scope="col">SĐT</th>
                                <th class = "align-middle col-2"  scope="col">Email</th>
                                <th class = "align-middle col-1"  scope="col">Admin</th>
                                <th class = "align-middle col-1"  scope="col">Hoạt động</th>
                                <th class = "align-middle col-1"  scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in allusers %}
                            <tr style = "font-size: 17px; color: black; text-align: center;">
                                <td class="align-middle" scope="row">{{forloop.counter}}</td>
                                <td class="align-middle">{{p.id}}</td>
                                <td class="align-middle" >{{p.fullname}}</a></td>
                                <td class="align-middle">{{p.username}}</td>
                                <td class="align-middle">{{p.phone_number}}</td>
                                <td class="align-middle">{{p.email}}</td>
                                <td class="align-middle">{{p.is_admin}}</td>
                                <td class="align-middle">{{p.is_active}}</td>
                                <td class="align-middle"><a class="btn btn-danger" href="{% url 'adminuserdisable' p.id%}">Tắt</a></td>
                                <td class="align-middle"><a class="btn btn-success" href="{% url 'adminuserenable' p.id%}">Mở</a></td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-12 pb-1">
      <nav aria-label="Page navigation" >
      <ul class="pagination justify-content-center mb-3">
        {% if allusers.has_previous %}
        <li class="page-item" >
          <a
            class="page-link"
            href="?page={{ allusers.previous_page_number }}"  style ="color: black"
            >Trước</a
          >
        </li>
        {% else %}
        <li class="page-item disabled" >
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true" 
            >Trước</a
          >
        </li>
        {% endif %} 
       {% for i in allusers.paginator.page_range %} 
        {% if i >= allusers.number|add:"-3"  and i <= allusers.number|add:"3"  %} 
          {% if i == allusers.number %}
            <li class="page-item active"><a class="page-link" style ="color: black; background-color: #6F8FAF">{{i}}</a></li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{i}}" style ="color: black">{{i}}</a>
            </li>
            {% endif %} 
          {% endif %} 
        {% endfor %} 
        {% if allusers.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{allusers.next_page_number }}" style ="color: black"
            >Sau</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true" style ="color: black">Sau</a>
        </li>
        {% endif %}
      </ul>
    </nav>
 
    </div>
                </div>
            </div>
        </div>
{% endblock %}


 