{% extends 'base.html' %} 
{%load humanize %} 
{% load static %}
{% block content %}

<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3"style="font-size: 25px; color:#002D62"> <img class="icon" src="{% static 'images/resume.png' %}" style = "width:50px;margin-right:15px">Thông tin tài khoản</h1>
  </div>
</div>
<div class="container-fluid" style = "padding-left:10%; padding-right: 10%">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 pb-1" style = "text-align: left"> 
      
      <h3 class="font-weight-semi-bold text-uppercase mb-3">THÔNG TIN CHI TIẾT</h3>

      <hr />
      <div style="padding: 15px; border-style: solid; border-color: #e8e6f0; color: black">
        <p>
          <span class="font-weight-bold">Họ và tên : </span> {{account.fullname}}
        </p>
        <p>
          <span class="font-weight-bold">Username:  </span> {{account.username}}
        </p>
        <p><span class="font-weight-bold">Email: </span> {{account.email}}</p>
        <p>
          <span class="font-weight-bold">Số điện thoại : </span>
          {{account.phone_number}}
        </p>
        {% if  account.dob is not None %}
        <p><span class="font-weight-bold">Ngày sinh:  </span> {{account.dob}}</p>
        {% endif %}
        {% if  account.gender is not None %}
        <p><span class="font-weight-bold">Giới tính: </span> {{account.gender}}</p>
        {% endif %}
        {% if account.is_admin == False %} 
        <p><span class="font-weight-bold"> Vị trí:  </span>   Khách hàng </p>
         {% else %}
         <p><span class="font-weight-bold"> Vị trí:  </span>   Quản lý </p>
         {% endif%}
        <br />
        <div style = "padding-left:5%; padding-right: 5%">
          <a  class = "btn btn-block btn-info my-1 py-3" style = "border-radius:5px ;  color:black; background-color:#C1E8E4" href="{% url 'shippingaddresslist' account.id %}"><img class="icon" src="{% static 'images/address.png' %}" style = "width:30px;margin-right:10px">Sổ địa chỉ</a>
          <a class = "btn btn-block btn-info my-1 py-3"  style = "border-radius:5px;   color:black; background-color:#C1E8E4" href="{% url 'profile_edit' account.id %}"><img class="icon" src="{% static 'images/user1.png' %}" style = "width:30px;margin-right:10px">Thông tin cá nhân</a>
          <a class = "btn btn-block btn-info my-1 py-3"  style = "border-radius:5px;   color:black; background-color:#C1E8E4" href="{% url 'myrating' account.id %}"><img class="icon" src="{% static 'images/rate.png' %}" style = "width:50px;margin-right:10px">Đánh giá của tôi</a>
           <a class = "btn btn-block btn-info my-1 py-3"  style = "border-radius:5px;   color:black; background-color:#C1E8E4" href="{% url 'myorder' account.id %}"><img class="icon" src="{% static 'images/order1.png' %}" style = "width:30px;margin-right:10px">Đơn hàng của tôi</a>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 pb-1">
        {% block content1%} {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
