{% extends 'base.html' %} 
{%load humanize %} 
{% block title %}Chi tiết đơn hàng{% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid bg-secondary mb-5" >
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 100px"
  >
    <h1
      class="font-weight-semi-bold text-uppercase mb-3"
      style="font-size: 25px; color:#002D62"
    >   <img class="icon" src="{% static 'images/order1.png' %}" style = "width:35px;margin-right:5px">
    Đơn hàng
     </h1>
    {% include "alerts.html" %} 
  </div>
</div>
<div class="container-fluid" style = "padding-left:100px; padding-right: 100px ;margin-bottom:5%;">
  <div class="row">
    <div class="col-md-5" style = "text-align: left">
        <h4 class="font-weight-semi-bold text-uppercase mb-3">Chi tiết đơn hàng</h4>
        <hr>
        <p style = 'color:black'><span class="font-weight-bold"> ID: </span> #ORDER_{{ord_obj.id}}</p>
         {% if ord_obj.status == 'Order Received' %}
              <p  style = 'color:black'><span class="font-weight-bold">Trạng thái: </span> Chờ xác nhận</p>
        {% else %}
              <p  style = 'color:black'><span class="font-weight-bold">Trạng thái: </span> {{ord_obj.status}}</p>
        {% endif %}
      
        <p style = 'color:black'><span class="font-weight-bold">Ngày đặt hàng: </span>
            {{ord_obj.time}}({{ord_obj.time|timesince}} ago)</p>
        <p  style = 'color:black'><span class="font-weight-bold">Thông tin khách hàng: </span>  {{ord_obj.customerid.fullname}},
            {{ord_obj.customerid.phone_number}}</p>
        <p  style = 'color:black'><span class="font-weight-bold">Người nhận hàng: </span>
            {{ord_obj.shippingid.address.name_receiver}}</p>
        <p  style = 'color:black'><span class="font-weight-bold">Địa chỉ giao hàng: </span>  {{ord_obj.shippingid.address}}
            (SĐT : {{ord_obj.shippingid.address.receiver_phone}})</p>
        <p  style = 'color:black'><span class="font-weight-bold">Hình thức vận chuyển: </span>
        {{ord_obj.shippingid.method}}</p>
         <p  style = 'color:black'><span class="font-weight-bold">Ngày nhận hàng dự kiến: </span>
        {{ord_obj.shippingid.date_shipping}}</p>
         <p  style = 'color:black'><span class="font-weight-bold">Hình thức thanh toán: </span>
        {{ord_obj.paymentid.method}}</p>


    </div>
    <div class="col-md-7 table-responsive" style = 'text-align: center'>
        <h4 class="font-weight-semi-bold text-uppercase mb-3">Mặt hàng đã đặt</h4>
                <table class="table">
                    <thead>
                        <tr style = 'color:black'>
                            <th>STT</th>
                            <th>ẢNH</th>
                            <th>Mặt hàng</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>
                            <th style = "width: 150px;">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ori in ord_obj.orderitem_set.all %}
                        <tr style = 'color:black'>
                            <td>{{forloop.counter}}</td>
                            <td class="align-middle"><img src={{ori.product.image.url}} alt="" style="width: 90px;"></td>
                            <td><a target="_blank" style = "color: black"
                                    href="{% url 'productdetail' ori.product.slug %}">{{ori.product.name}}({{ori.product.id}})</a>
                            </td>
                            <td>{{ori.exact_price}}</td>
                            <td >{{ori.count}}</td>
                            <td>{{ori.subTotal}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="5" class="text-right" style = 'color:black'>Tạm tính: </th>
                            <th style = 'color:black'>{{ord_obj.cost_all_items|intcomma}} VNĐ</th>
                        </tr>
                        {% if ord_obj.cost_all_items < 500000 %}
                        <tr>
                            <th colspan="5" class="text-right" style = 'color:black'>Tiền vận chuyển: </th>
                            <th style = 'color:black'>{{ord_obj.shippingid.price_shipping|intcomma}} VNĐ</th>
                        </tr>
                        {% else %}
                         <tr>
                            <th colspan="5" class="text-right" style = 'color:black'>Tiền vận chuyển: </th>
                            <th style = 'color:black'>0 VNĐ</th>
                        </tr>
                        {% endif %}
                        <tr>
                            <th colspan="5" class="text-right" style = 'color:black'>Tổng tiền: </th>
                            <th style = 'color:black'>{{ord_obj.paymentid.amount|intcomma}} VNĐ</th>
                        </tr>
                    </tbody>
                </table>
    </div>
  </div>
</div>
{% endblock %}
